{% extends "layout.html" %}

{% block title %}
    My Recipes
{% endblock %}

{% block main %}

    <div class="container">
        <h1>My Recipes</h1>

        <!-- Displaying Paginated Recipes -->
        <ul class="list-group mb-4">
            <br> 
            {% if paginated_recipes.total == 0 %}
                    <p class="text-muted">You have not created any recipes yet.</p>
            {% endif %}
            {% for recipe in paginated_recipes %}
                <!-- Display each recipe as a list item with image, title, and description -->
                <li class="list-group-item">
                        <div class="row">
                            <!-- Recipe Image Column -->
                            <div class="col-3" onclick="viewRecipe({{ recipe.id }})">
                                {% if recipe.image %}
                                    <img src="{{ url_for('uploaded_file', filename=recipe.image) }}" alt="Recipe Image" class="img-fluid img-fluids">
                                {% else %}
                                    <img src="{{ url_for('static', filename='default_recipe_image.jpg') }}" alt="Recipe Image" class="img-fluid img-fluids">
                                {% endif %}
                            </div>
                            
                            <!-- Recipe Details Column -->
                            <div class="col-6" onclick="viewRecipe({{ recipe.id }})">
                                <h5>{{ recipe.title }}</h5>
                                <p>{{ recipe.description }}</p>
                            </div>
    
                            <!-- Edit Button Column -->
                            <div class="col-3">
                                <div class="mb-2">
                                    <button class="edit-button" onclick="editRecipe({{ recipe.id }})">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                        </svg>
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                </div>
                            </div>
                            
                            <!-- Delete Button -->
                            <div class="col-3">
                                <div class="mb-2">
                                    <button class="delete-button" onclick="deleteRecipe({{ recipe.id }})">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                        </svg>
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                            </div>
    
                        </div>
                </li>
            {% endfor %}
        </ul>

        <!-- Pagination Controls -->
        <nav aria-label="Recipe Pagination">
            <ul class="pagination justify-content-center ">
                {% if paginated_recipes.has_prev %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('my_recipes', user_id=session['user_id'], page=paginated_recipes.prev_num) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for num in paginated_recipes.iter_pages() %}
                    {% if num %}
                        <li class="page-item {% if num == paginated_recipes.page %}active{% endif %}">
                            <a class="page-link" href="{{ url_for('my_recipes', user_id=session['user_id'], page=num) }}">{{ num }}</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">...</span></li>
                    {% endif %}
                {% endfor %}

                {% if paginated_recipes.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('my_recipes', user_id=session['user_id'], page=paginated_recipes.next_num) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        {% if session["user_id"] %}
        <!-- Add Recipe button -->
        <a href="/add-recipe" class="add-recipe-btn btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            <i class="bi bi-plus-circle"></i>  Create Recipe
        </a>
        {% endif %}
    </div>

    <script>
        function editRecipe(recipeId) {
            window.location.href = "/edit-recipe/" + recipeId;
        }

        function viewRecipe(recipeId) {
            window.location.href = "/recipe/" + recipeId;
        }

        function deleteRecipe(recipeId) {
            if (confirm("Are you sure you want to delete this recipe?")) {
                fetch(`/recipe/${recipeId}`, {
                    method: 'DELETE',
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        }
    </script>

{% endblock %}
