{% extends "layout.html" %}

{% block title %}
    Recipe Details
{% endblock %}

{% block main %}

    <div class="container">
        <div class="row row-cols-2">
            <div class="col">
                <h1 class="title">{{ recipe.title }}</h1>
                <p class="text-muted">Created by {{ user.username }} on {{ recipe.created_at.strftime('%d-%m-%Y') }}</p>
                <p class="lead">{{ recipe.description }}</p>

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
                </svg>
                <i class="bi bi-clock">Prepare Time:  {{ recipe.prepare_time }} minutes</i> <br>

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                </svg>
                <i class="bi bi-clock-fill">Cook Time:  {{ recipe.cook_time }} minutes</i> <br>
                
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag" viewBox="0 0 16 16">
                    <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0"/>
                    <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1m0 5.586 7 7L13.586 9l-7-7H2z"/>
                </svg>
                <i class="bi bi-tag">Category: {{ recipe.category.category }}</i> <br>

                <!-- Favorite Button -->
                {% if session["user_id"] %}
                    {% if is_favorite %}
                        <form action="{{ url_for('unfavorite', recipe_id=recipe.id) }}" method="POST">
                            <button type="submit" class="btn btn-outline-danger mt-3">
                                <i class="bi bi-heart-fill"></i> Remove from Favorites
                            </button>
                        </form>
                    {% else %}
                        <form action="{{ url_for('favorite', recipe_id=recipe.id) }}" method="POST">
                            <button type="submit" class="btn btn-outline-danger mt-3">
                                <i class="bi bi-heart"></i> Add to Favorites
                            </button>
                        </form>
                        {% endif %}
                {% endif %}
            </div>

            <div class="col">
                {% if recipe.image %}
                    <img src="{{ recipe.image }}" alt="Recipe Image" class="img-fluid rounded float-end">
                {% else %}
                    <img src="{{ url_for('static', filename='default_recipe_image.jpg') }}" alt="Recipe Image" class="img-fluid rounded float-end">
                {% endif %}
            </div>
        </div>
    </div> 

    <div class="mt-6">
        <br>
        <div class="container">
            <h2>Ingredients</h2>
            <ul class="list-group">
                {% for ingrediant in ingredients %}
                    <li class="list-group-item">{{ ingrediant.item }}</li>
                {% endfor %}
            </ul>
        </div>
        <br>
        <div class="container">
            <h2>Instructions</h2>
            <ol class="list-group list-group-numbered">
                {% for instruction in instructions %}
                    <li class="list-group-item">{{ instruction.description }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>

{% endblock %}